<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bruno.exerfit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Exerfit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ch.hslu.mobpro.fs17.exerfit.Screens.WorkoutScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ch.hslu.mobpro.fs17.exerfit.Screens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ch.hslu.mobpro.fs17.exerfit.Screens.TestFragment" />
        <activity android:name=".ch.hslu.mobpro.fs17.exerfit.Screens.SelectWorkoutFragment" />
        <activity android:name=".ch.hslu.mobpro.fs17.exerfit.Screens.WorkoutFragment" />
        <activity android:name=".ch.hslu.mobpro.fs17.exerfit.Screens.CreateWorkoutFragment" />
        <activity android:name=".ch.hslu.mobpro.fs17.exerfit.Screens.ScheduleWorkoutFragment" />
        <activity android:name=".ch.hslu.mobpro.fs17.exerfit.Screens.SelectLocationFragment" />
        <activity android:name=".ch.hslu.mobpro.fs17.exerfit.Screens.SelectCategoryFragment"></activity>
    </application>

</manifest>